Package: com.zidati.wifispringy
Name: Wifi Springy Animation
Version: 1.0
Architecture: iphoneos-arm
Description: Wifi Springy animation from reddit user/isaacteo
Maintainer: Zidati <zidatigaming@gmail.com>
Author: Zidati <zidatigaming@gmail.com>
Section: Springy
