Package: com.zidati.liverbirdlockglyph
Name: Liver Bird Lock Glyph
Version: 1.0
Architecture: iphoneos-arm
Description: Liver Bird Lock Glyph
Maintainer: Zidati <zidatigaming@gmail.com>
Author: Zidati <zidatigaming@gmail.com>
Section: Lock Glyph
