Package: com.zidati.sixpointedstar
Name: Six Pointed Star Springy Animation
Version: 1.0
Architecture: iphoneos-arm
Description: Six Pointed Star Springy animation from reddit user/isaacteo
Maintainer: Zidati <zidatigaming@gmail.com>
Author: Zidati <zidatigaming@gmail.com>
Section: Springy
