Package: com.zidati.particlesheadspringy
Name: Particles Head Springy Animation
Version: 1.0
Architecture: iphoneos-arm
Description: Particles Head Springy Animation from reddit u/PONCE54958
Maintainer: Zidati <zidatigaming@gmail.com>
Author: Zidati <zidatigaming@gmail.com>
Section: Springy
