Package: com.zidati.trippy
Name: Trippy Springy Animation
Version: 1.0
Architecture: iphoneos-arm
Description: Trippy Springy animation from reddit user/isaacteo
Maintainer: Zidati <zidatigaming@gmail.com>
Author: Zidati <zidatigaming@gmail.com>
Section: Springy
