Package: com.zidati.prismaticheadspringy
Name: Prismatic Head Springy Animation
Version: 1.0
Architecture: iphoneos-arm
Description: Prismatic Head Springy Animation from reddit u/PONCE54958
Maintainer: Zidati <zidatigaming@gmail.com>
Author: Zidati <zidatigaming@gmail.com>
Section: Springy
