Package: com.zidati.wormspringy
Name: Worm Springy Animation
Version: 1.0
Architecture: iphoneos-arm
Description: Worm Springy animation from reddit user/isaacteo
Maintainer: Zidati <zidatigaming@gmail.com>
Author: Zidati <zidatigaming@gmail.com>
Section: Springy
