Package: com.zidati.leftright
Name: Left Right Springy Animation
Version: 1.0
Architecture: iphoneos-arm
Description: Left Right Springy animation from reddit user/isaacteo
Maintainer: Zidati <zidatigaming@gmail.com>
Author: Zidati <zidatigaming@gmail.com>
Section: Springy
