Package: com.zidati.colorwheel
Name: Color Wheel Springy Animation
Version: 1.0
Architecture: iphoneos-arm
Description: Color Wheel Springy animation from reddit user/isaacteo
Maintainer: Zidati <zidatigaming@gmail.com>
Author: Zidati <zidatigaming@gmail.com>
Section: Springy
