Package: com.zidati.majesticwhales
Name: Majestic Whales Springy Animation
Version: 1.0
Architecture: iphoneos-arm
Description: Majestic Whales Springy animation from reddit user/isaacteo
Maintainer: Zidati <zidatigaming@gmail.com>
Author: Zidati <zidatigaming@gmail.com>
Section: Springy
