Package: com.zidati.twirl2
Name: Twirl 2 Springy Animations
Version: 1.0
Architecture: iphoneos-arm
Description: Twirl 2 Springy animation from reddit user/isaacteo
Maintainer: Zidati <zidatigaming@gmail.com>
Author: Zidati <zidatigaming@gmail.com>
Section: Springy
