Package: com.zidati.fluidspringy
Name: Fluid Springy Animation
Version: 1.0
Architecture: iphoneos-arm
Description: Fluid Springy Animation from reddit u/PONCE54958
Maintainer: Zidati <zidatigaming@gmail.com>
Author: Zidati <zidatigaming@gmail.com>
Section: Springy
