Package: com.zidati.downloadingerror
Name: Downloading Error Springy Animation
Version: 1.0
Architecture: iphoneos-arm
Description: Downloading Error Springy animation from reddit user/isaacteo
Maintainer: Zidati <zidatigaming@gmail.com>
Author: Zidati <zidatigaming@gmail.com>
Section: Springy
